In [1]:
!pip install ipython-sql
%load_ext sql
import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
WARNING: There was an error checking the latest version of pip.

In [2]:
%%sql $CONNECT_DATA
SELECT distinct arrival_airport, aircraft_code FROM flights f
WHERE f.arrival_airport='AER'

7 rows affected.

[('AER', '773'),
 ('AER', '733'),
 ('AER', '763'),
 ('AER', 'CN1'),
 ('AER', 'SU9'),
 ('AER', 'CR2'),
 ('AER', '319')]

**№1 Which fare conditions are available for flights from AER to SVO (i.e. from Adler/Sochi to Sheremetevo/Moscow)**

In [27]:
%%sql $CONNECT_DATA
    SELECT distinct fare_conditions as Available_fare_conditions_from_AER_to_SVO 
    FROM Ticket_flights 
    WHERE flight_id in (SELECT flight_id FROM Flights
    WHERE departure_airport = 'AER' and arrival_airport = 'SVO')

3 rows affected.

[('Business',), ('Comfort',), ('Economy',)]

**№2 A list of aircraft models which fly to the Yakutsk AND Abakan cities**

In [65]:
%%sql $CONNECT_DATA
    SELECT model as aircraft_models_which_fly_to_the_Yakutsk_AND_Abakan
    FROM Aircrafts
    WHERE aircraft_code in (SELECT distinct aircraft_code 
                            FROM Flights
                            WHERE arrival_airport = (SELECT distinct airport_code 
                                                      FROM Airports
                                                      WHERE city = 'Yakutsk'))
           AND
               aircraft_code in (SELECT distinct aircraft_code 
                            FROM Flights
                            WHERE arrival_airport = (SELECT distinct airport_code 
                                                      FROM Airports
                                                      WHERE city = 'Abakan'))

1 rows affected.

[('Airbus A319-100',)]

**№ 3 A list of aircraft models which fly to the Yakutsk OR Abakan cities**

In [66]:
%%sql $CONNECT_DATA
    SELECT model as aircraft_models_which_fly_to_the_Yakutsk_AND_Abakan
    FROM Aircrafts
    WHERE aircraft_code in (SELECT distinct aircraft_code 
                            FROM Flights
                            WHERE arrival_airport = (SELECT distinct airport_code 
                                                      FROM Airports
                                                      WHERE city = 'Yakutsk'))
           OR
               aircraft_code in (SELECT distinct aircraft_code 
                            FROM Flights
                            WHERE arrival_airport = (SELECT distinct airport_code 
                                                      FROM Airports
                                                      WHERE city = 'Abakan'))

5 rows affected.

[('Sukhoi Superjet-100',),
 ('Airbus A319-100',),
 ('Boeing 737-300',),
 ('Cessna 208 Caravan',),
 ('Bombardier CRJ-200',)]

**№ 4 A list of aircrafts which DON’T fly to Yakutsk city**

In [70]:
%%sql $CONNECT_DATA
    SELECT model as aircraft_models_which_fly_to_the_Yakutsk_AND_Abakan
    FROM Aircrafts
    WHERE aircraft_code not in (SELECT distinct aircraft_code 
                            FROM Flights
                            WHERE arrival_airport = (SELECT distinct airport_code 
                                                      FROM Airports
                                                      WHERE city = 'Yakutsk'))

6 rows affected.

[('Boeing 777-300',),
 ('Boeing 767-300',),
 ('Airbus A320-200',),
 ('Airbus A321-200',),
 ('Boeing 737-300',),
 ('Cessna 208 Caravan',)]

In [ ]:
#additional check - A list of aircrafts which DO fly to Yakutsk city

In [71]:
%%sql $CONNECT_DATA
    SELECT model as aircraft_models_which_fly_to_the_Yakutsk_AND_Abakan
    FROM Aircrafts
    WHERE aircraft_code in (SELECT distinct aircraft_code 
                            FROM Flights
                            WHERE arrival_airport = (SELECT distinct airport_code 
                                                      FROM Airports
                                                      WHERE city = 'Yakutsk'))

3 rows affected.

[('Sukhoi Superjet-100',), ('Airbus A319-100',), ('Bombardier CRJ-200',)]

**№ 5 Find out airport codes related to Mrs. 'ELLA DMITRIEVA'  - from where and to where she flew.**

In [77]:
%%sql $CONNECT_DATA
SELECT departure_airport as departure_airport_of_Ms_Ella_Dmitirieva, 
arrival_airport as arrival_airport_of_Ms_Ella_Dmitirieva
FROM Flights
WHERE flight_id in (SELECT flight_id 
                    FROM Ticket_flights
                    WHERE ticket_no in (SELECT ticket_no 
                                        FROM Tickets
                                        WHERE passenger_name = 'ELLA DMITRIEVA'))

7 rows affected.

[('SVO', 'SVX'),
 ('MQF', 'SVX'),
 ('SVX', 'MQF'),
 ('SVX', 'SVO'),
 ('DME', 'HMA'),
 ('DME', 'UUS'),
 ('HMA', 'DME')]

In [ ]:
#WOW, she travelled to my hometown (Magnitogorsk, MQF) even!