In [1]:
!pip install ipython-sql
%load_ext sql
import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
WARNING: There was an error checking the latest version of pip.

**1. A list of tickets, where number of flights>3**

In [10]:
%%sql $CONNECT_DATA
SELECT ticket_no 
FROM Ticket_flights 
GROUP BY ticket_no
HAVING COUNT(flight_id) > 3 LIMIT 1000

1000 rows affected.

[('0005432312163',),
 ('0005432312164',),
 ('0005432312165',),
 ('0005432312166',),
 ('0005432312167',),
 ('0005432312168',),
 ('0005432312169',),
 ('0005432312170',),
 ('0005432312171',),
 ('0005432312172',),
 ('0005432312173',),
 ('0005432312174',),
 ('0005432312175',),
 ('0005432312176',),
 ('0005432312177',),
 ('0005432312178',),
 ('0005432312179',),
 ('0005432312180',),
 ('0005432312181',),
 ('0005432312182',),
 ('0005432312183',),
 ('0005432312184',),
 ('0005432312185',),
 ('0005432312186',),
 ('0005432312187',),
 ('0005432312188',),
 ('0005432312189',),
 ('0005432312190',),
 ('0005432312191',),
 ('0005432312192',),
 ('0005432312193',),
 ('0005432312194',),
 ('0005432312195',),
 ('0005432312196',),
 ('0005432312197',),
 ('0005432312198',),
 ('0005432312199',),
 ('0005432312200',),
 ('0005432312201',),
 ('0005432312202',),
 ('0005432312203',),
 ('0005432312204',),
 ('0005432312205',),
 ('0005432312206',),
 ('0005432312207',),
 ('0005432312208',),
 ('0005432312209',),
 ('0005432312210',),
 ('0005432312211',),
 ('0005432312212',),
 ('0005432312213',),
 ('0005432312214',),
 ('0005432312215',),
 ('0005432312216',),
 ('0005432312217',),
 ('0005432312218',),
 ('0005432312219',),
 ('0005432312220',),
 ('0005432312221',),
 ('0005432312222',),
 ('0005432312223',),
 ('0005432312224',),
 ('0005432312225',),
 ('0005432312226',),
 ('0005432312227',),
 ('0005432312228',),
 ('0005432312229',),
 ('0005432312230',),
 ('0005432312231',),
 ('0005432312232',),
 ('0005432312233',),
 ('0005432312234',),
 ('0005432312235',),
 ('0005432312236',),
 ('0005432312237',),
 ('0005432312238',),
 ('0005432312239',),
 ('0005432312240',),
 ('0005432312241',),
 ('0005432312242',),
 ('0005432312243',),
 ('0005432312244',),
 ('0005432312245',),
 ('0005432312246',),
 ('0005432312247',),
 ('0005432312248',),
 ('0005432312249',),
 ('0005432312250',),
 ('0005432312251',),
 ('0005432312252',),
 ('0005432312253',),
 ('0005432312254',),
 ('0005432312255',),
 ('0005432312256',),
 ('0005432312257',),
 ('0005432312258',),
 ('0005432312259',),
 ('0005432312260',),
 ('0005432312261',),
 ('0005432312262',),
 ('0005432312263',),
 ('0005432312264',),
 ('0005432312265',),
 ('0005432312266',),
 ('0005432312267',),
 ('0005432312268',),
 ('0005432312269',),
 ('0005432312270',),
 ('0005432312271',),
 ('0005432312272',),
 ('0005432312273',),
 ('0005432312274',),
 ('0005432312275',),
 ('0005432312276',),
 ('0005432312277',),
 ('0005432312278',),
 ('0005432312279',),
 ('0005432312280',),
 ('0005432312281',),
 ('0005432312282',),
 ('0005432312283',),
 ('0005432312284',),
 ('0005432312285',),
 ('0005432312286',),
 ('0005432312287',),
 ('0005432312288',),
 ('0005432312289',),
 ('0005432312290',),
 ('0005432312291',),
 ('0005432312292',),
 ('0005432312293',),
 ('0005432312294',),
 ('0005432312295',),
 ('0005432312296',),
 ('0005432312297',),
 ('0005432312298',),
 ('0005432312299',),
 ('0005432312300',),
 ('0005432312301',),
 ('0005432312302',),
 ('0005432312303',),
 ('0005432312304',),
 ('0005432312305',),
 ('0005432312306',),
 ('0005432312307',),
 ('0005432312308',),
 ('0005432312309',),
 ('0005432312310',),
 ('0005432312311',),
 ('0005432312312',),
 ('0005432312313',),
 ('0005432312314',),
 ('0005432312315',),
 ('0005432312316',),
 ('0005432312317',),
 ('0005432312318',),
 ('0005432312319',),
 ('0005432312320',),
 ('0005432312321',),
 ('0005432312322',),
 ('0005432312323',),
 ('0005432312324',),
 ('0005432312325',),
 ('0005432312326',),
 ('0005432312327',),
 ('0005432312328',),
 ('0005432312329',),
 ('0005432312330',),
 ('0005432312331',),
 ('0005432312332',),
 ('0005432312333',),
 ('0005432312334',),
 ('0005432312335',),
 ('0005432312336',),
 ('0005432312337',),
 ('0005432312338',),
 ('0005432312339',),
 ('0005432312340',),
 ('0005432312341',),
 ('0005432312342',),
 ('0005432312343',),
 ('0005432312344',),
 ('0005432312345',),
 ('0005432312346',),
 ('0005432312347',),
 ('0005432312348',),
 ('0005432312349',),
 ('0005432312350',),
 ('0005432312351',),
 ('0005432312352',),
 ('0005432312353',),
 ('0005432312354',),
 ('0005432312355',),
 ('0005432312356',),
 ('0005432312357',),
 ('0005432312358',),
 ('0005432312359',),
 ('0005432312360',),
 ('0005432312361',),
 ('0005432312362',),
 ('0005432312363',),
 ('0005432312364',),
 ('0005432312365',),
 ('0005432312366',),
 ('0005432312367',),
 ('0005432312368',),
 ('0005432312369',),
 ('0005432312370',),
 ('0005432312371',),
 ('0005432312372',),
 ('0005432312373',),
 ('0005432312374',),
 ('0005432312375',),
 ('0005432312376',),
 ('0005432312377',),
 ('0005432312378',),
 ('0005432312379',),
 ('0005432312380',),
 ('0005432312381',),
 ('0005432312382',),
 ('0005432312383',),
 ('0005432312384',),
 ('0005432312385',),
 ('0005432312386',),
 ('0005432312387',),
 ('0005432312388',),
 ('0005432312389',),
 ('0005432312390',),
 ('0005432312391',),
 ('0005432312392',),
 ('0005432312393',),
 ('0005432312394',),
 ('0005432312395',),
 ('0005432312396',),
 ('0005432312397',),
 ('0005432312398',),
 ('0005432312399',),
 ('0005432312400',),
 ('0005432312401',),
 ('0005432312402',),
 ('0005432312403',),
 ('0005432312404',),
 ('0005432312405',),
 ('0005432312406',),
 ('0005432312407',),
 ('0005432312408',),
 ('0005432312409',),
 ('0005432312410',),
 ('0005432312411',),
 ('0005432312412',),
 ('0005432312413',),
 ('0005432312414',),
 ('0005432312415',),
 ('0005432312416',),
 ('0005432312417',),
 ('0005432312418',),
 ('0005432312419',),
 ('0005432312420',),
 ('0005432312421',),
 ('0005432312422',),
 ('0005432312423',),
 ('0005432312424',),
 ('0005432312425',),
 ('0005432312426',),
 ('0005432312427',),
 ('0005432312428',),
 ('0005432312429',),
 ('0005432312430',),
 ('0005432312431',),
 ('0005432312432',),
 ('0005432312433',),
 ('0005432312434',),
 ('0005432312435',),
 ('0005432312436',),
 ('0005432312437',),
 ('0005432312438',),
 ('0005432312439',),
 ('0005432312440',),
 ('0005432312441',),
 ('0005432312442',),
 ('0005432312443',),
 ('0005432312444',),
 ('0005432312445',),
 ('0005432312446',),
 ('0005432312447',),
 ('0005432312448',),
 ('0005432312449',),
 ('0005432312450',),
 ('0005432312451',),
 ('0005432312452',),
 ('0005432312453',),
 ('0005432312454',),
 ('0005432312455',),
 ('0005432312456',),
 ('0005432312457',),
 ('0005432312458',),
 ('0005432312459',),
 ('0005432312460',),
 ('0005432312461',),
 ('0005432312462',),
 ('0005432312463',),
 ('0005432312464',),
 ('0005432312465',),
 ('0005432312466',),
 ('0005432312467',),
 ('0005432312468',),
 ('0005432312469',),
 ('0005432312470',),
 ('0005432312471',),
 ('0005432312472',),
 ('0005432312473',),
 ('0005432312474',),
 ('0005432312475',),
 ('0005432312476',),
 ('0005432312477',),
 ('0005432312478',),
 ('0005432312479',),
 ('0005432312480',),
 ('0005432312481',),
 ('0005432312482',),
 ('0005432312483',),
 ('0005432312484',),
 ('0005432312485',),
 ('0005432312486',),
 ('0005432312487',),
 ('0005432312488',),
 ('0005432312489',),
 ('0005432312490',),
 ('0005432312491',),
 ('0005432312492',),
 ('0005432312493',),
 ('0005432312494',),
 ('0005432312495',),
 ('0005432312496',),
 ('0005432312497',),
 ('0005432312498',),
 ('0005432312499',),
 ('0005432312500',),
 ('0005432312501',),
 ('0005432312502',),
 ('0005432312503',),
 ('0005432312504',),
 ('0005432312505',),
 ('0005432312506',),
 ('0005432312507',),
 ('0005432312508',),
 ('0005432312509',),
 ('0005432312510',),
 ('0005432312511',),
 ('0005432312512',),
 ('0005432312513',),
 ('0005432312514',),
 ('0005432312515',),
 ('0005432312516',),
 ('0005432312517',),
 ('0005432312518',),
 ('0005432312519',),
 ('0005432312520',),
 ('0005432312521',),
 ('0005432312522',),
 ('0005432312523',),
 ('0005432312524',),
 ('0005432312525',),
 ('0005432312526',),
 ('0005432312527',),
 ('0005432312528',),
 ('0005432312529',),
 ('0005432312530',),
 ('0005432312531',),
 ('0005432312532',),
 ('0005432312533',),
 ('0005432312534',),
 ('0005432312535',),
 ('0005432312536',),
 ('0005432312537',),
 ('0005432312538',),
 ('0005432312539',),
 ('0005432312540',),
 ('0005432312541',),
 ('0005432312542',),
 ('0005432312543',),
 ('0005432312544',),
 ('0005432312545',),
 ('0005432312546',),
 ('0005432312547',),
 ('0005432312548',),
 ('0005432312549',),
 ('0005432312550',),
 ('0005432312551',),
 ('0005432312552',),
 ('0005432312553',),
 ('0005432312554',),
 ('0005432312555',),
 ('0005432312556',),
 ('0005432312557',),
 ('0005432312558',),
 ('0005432312559',),
 ('0005432312560',),
 ('0005432312561',),
 ('0005432312562',),
 ('0005432312563',),
 ('0005432312564',),
 ('0005432312565',),
 ('0005432312566',),
 ('0005432312567',),
 ('0005432312568',),
 ('0005432312569',),
 ('0005432312570',),
 ('0005432312571',),
 ('0005432312572',),
 ('0005432312573',),
 ('0005432312574',),
 ('0005432312575',),
 ('0005432312576',),
 ('0005432312577',),
 ('0005432312578',),
 ('0005432312579',),
 ('0005432312580',),
 ('0005432312581',),
 ('0005432312582',),
 ('0005432312583',),
 ('0005432312584',),
 ('0005432312585',),
 ('0005432312586',),
 ('0005432312587',),
 ('0005432312588',),
 ('0005432312589',),
 ('0005432312590',),
 ('0005432312591',),
 ('0005432312592',),
 ('0005432312593',),
 ('0005432312594',),
 ('0005432312595',),
 ('0005432312596',),
 ('0005432312597',),
 ('0005432312598',),
 ('0005432312599',),
 ('0005432312600',),
 ('0005432312601',),
 ('0005432312602',),
 ('0005432312603',),
 ('0005432312604',),
 ('0005432312605',),
 ('0005432312606',),
 ('0005432312607',),
 ('0005432312608',),
 ('0005432312609',),
 ('0005432312610',),
 ('0005432312611',),
 ('0005432312612',),
 ('0005432312613',),
 ('0005432312614',),
 ('0005432312615',),
 ('0005432312616',),
 ('0005432312617',),
 ('0005432312618',),
 ('0005432312619',),
 ('0005432312620',),
 ('0005432312621',),
 ('0005432312622',),
 ('0005432312623',),
 ('0005432312624',),
 ('0005432312625',),
 ('0005432312626',),
 ('0005432312627',),
 ('0005432312628',),
 ('0005432312629',),
 ('0005432312630',),
 ('0005432312631',),
 ('0005432312632',),
 ('0005432312633',),
 ('0005432312634',),
 ('0005432312635',),
 ('0005432312636',),
 ('0005432312637',),
 ('0005432312638',),
 ('0005432312639',),
 ('0005432312640',),
 ('0005432312641',),
 ('0005432312642',),
 ('0005432312643',),
 ('0005432312644',),
 ('0005432312645',),
 ('0005432312646',),
 ('0005432312647',),
 ('0005432312648',),
 ('0005432312649',),
 ('0005432312650',),
 ('0005432312651',),
 ('0005432312652',),
 ('0005432312653',),
 ('0005432312654',),
 ('0005432312655',),
 ('0005432312656',),
 ('0005432312657',),
 ('0005432312658',),
 ('0005432312659',),
 ('0005432312660',),
 ('0005432312661',),
 ('0005432312662',),
 ('0005432312663',),
 ('0005432312664',),
 ('0005432312665',),
 ('0005432312666',),
 ('0005432312667',),
 ('0005432312668',),
 ('0005432312669',),
 ('0005432312670',),
 ('0005432312671',),
 ('0005432312672',),
 ('0005432312673',),
 ('0005432312674',),
 ('0005432312675',),
 ('0005432312676',),
 ('0005432312677',),
 ('0005432312678',),
 ('0005432312679',),
 ('0005432312680',),
 ('0005432312681',),
 ('0005432312682',),
 ('0005432312683',),
 ('0005432312684',),
 ('0005432312685',),
 ('0005432312686',),
 ('0005432312687',),
 ('0005432312688',),
 ('0005432312689',),
 ('0005432312690',),
 ('0005432312691',),
 ('0005432312692',),
 ('0005432312693',),
 ('0005432312694',),
 ('0005432312695',),
 ('0005432312696',),
 ('0005432312697',),
 ('0005432312698',),
 ('0005432312699',),
 ('0005432312700',),
 ('0005432312701',),
 ('0005432312702',),
 ('0005432312703',),
 ('0005432312704',),
 ('0005432312705',),
 ('0005432312706',),
 ('0005432312707',),
 ('0005432312708',),
 ('0005432312709',),
 ('0005432312710',),
 ('0005432312711',),
 ('0005432312712',),
 ('0005432312713',),
 ('0005432312714',),
 ('0005432312715',),
 ('0005432312716',),
 ('0005432312717',),
 ('0005432312718',),
 ('0005432312719',),
 ('0005432312720',),
 ('0005432312721',),
 ('0005432312722',),
 ('0005432312723',),
 ('0005432312724',),
 ('0005432312725',),
 ('0005432312726',),
 ('0005432312727',),
 ('0005432312728',),
 ('0005432312729',),
 ('0005432312730',),
 ('0005432312731',),
 ('0005432312732',),
 ('0005432312733',),
 ('0005432312734',),
 ('0005432312735',),
 ('0005432312736',),
 ('0005432312737',),
 ('0005432312738',),
 ('0005432312739',),
 ('0005432312740',),
 ('0005432312741',),
 ('0005432312742',),
 ('0005432312743',),
 ('0005432312744',),
 ('0005432312745',),
 ('0005432312746',),
 ('0005432312747',),
 ('0005432312748',),
 ('0005432312749',),
 ('0005432312750',),
 ('0005432312751',),
 ('0005432312752',),
 ('0005432312753',),
 ('0005432312754',),
 ('0005432312755',),
 ('0005432312756',),
 ('0005432312757',),
 ('0005432312758',),
 ('0005432312759',),
 ('0005432312760',),
 ('0005432312761',),
 ('0005432312762',),
 ('0005432312763',),
 ('0005432312764',),
 ('0005432312765',),
 ('0005432312766',),
 ('0005432312767',),
 ('0005432312768',),
 ('0005432312769',),
 ('0005432312770',),
 ('0005432312771',),
 ('0005432312772',),
 ('0005432312773',),
 ('0005432312774',),
 ('0005432312775',),
 ('0005432312776',),
 ('0005432312777',),
 ('0005432312778',),
 ('0005432312779',),
 ('0005432312780',),
 ('0005432312781',),
 ('0005432312782',),
 ('0005432312783',),
 ('0005432312784',),
 ('0005432312785',),
 ('0005432312786',),
 ('0005432312787',),
 ('0005432312788',),
 ('0005432312789',),
 ('0005432312790',),
 ('0005432312791',),
 ('0005432312792',),
 ('0005432312793',),
 ('0005432312794',),
 ('0005432312795',),
 ('0005432312796',),
 ('0005432312797',),
 ('0005432312798',),
 ('0005432312799',),
 ('0005432312800',),
 ('0005432312801',),
 ('0005432312802',),
 ('0005432312803',),
 ('0005432312804',),
 ('0005432312805',),
 ('0005432312806',),
 ('0005432312807',),
 ('0005432312808',),
 ('0005432312809',),
 ('0005432312810',),
 ('0005432312811',),
 ('0005432312812',),
 ('0005432312813',),
 ('0005432312814',),
 ('0005432312815',),
 ('0005432312816',),
 ('0005432312817',),
 ('0005432312818',),
 ('0005432312819',),
 ('0005432312820',),
 ('0005432312821',),
 ('0005432312822',),
 ('0005432312823',),
 ('0005432312824',),
 ('0005432312825',),
 ('0005432312826',),
 ('0005432312827',),
 ('0005432312828',),
 ('0005432312829',),
 ('0005432312830',),
 ('0005432312831',),
 ('0005432312832',),
 ('0005432312833',),
 ('0005432312834',),
 ('0005432312835',),
 ('0005432312836',),
 ('0005432312837',),
 ('0005432312838',),
 ('0005432312839',),
 ('0005432312840',),
 ('0005432312841',),
 ('0005432312842',),
 ('0005432312843',),
 ('0005432312844',),
 ('0005432312845',),
 ('0005432312846',),
 ('0005432312847',),
 ('0005432312848',),
 ('0005432312849',),
 ('0005432312850',),
 ('0005432312851',),
 ('0005432312852',),
 ('0005432312853',),
 ('0005432312854',),
 ('0005432312855',),
 ('0005432312856',),
 ('0005432312857',),
 ('0005432312858',),
 ('0005432312859',),
 ('0005432312860',),
 ('0005432312861',),
 ('0005432312862',),
 ('0005432312863',),
 ('0005432312864',),
 ('0005432312865',),
 ('0005432312866',),
 ('0005432312867',),
 ('0005432312868',),
 ('0005432312869',),
 ('0005432312870',),
 ('0005432312871',),
 ('0005432312872',),
 ('0005432312873',),
 ('0005432312874',),
 ('0005432312875',),
 ('0005432312876',),
 ('0005432312877',),
 ('0005432312878',),
 ('0005432312879',),
 ('0005432312880',),
 ('0005432312881',),
 ('0005432312882',),
 ('0005432312883',),
 ('0005432312884',),
 ('0005432312885',),
 ('0005432312886',),
 ('0005432312887',),
 ('0005432312888',),
 ('0005432312889',),
 ('0005432312890',),
 ('0005432312891',),
 ('0005432312892',),
 ('0005432312893',),
 ('0005432312894',),
 ('0005432312895',),
 ('0005432312896',),
 ('0005432312897',),
 ('0005432312898',),
 ('0005432312899',),
 ('0005432312900',),
 ('0005432312901',),
 ('0005432312902',),
 ('0005432312903',),
 ('0005432312904',),
 ('0005432312905',),
 ('0005432312906',),
 ('0005432312907',),
 ('0005432312908',),
 ('0005432312909',),
 ('0005432312910',),
 ('0005432312911',),
 ('0005432312912',),
 ('0005432312913',),
 ('0005432312914',),
 ('0005432312915',),
 ('0005432312916',),
 ('0005432312917',),
 ('0005432312918',),
 ('0005432312919',),
 ('0005432312920',),
 ('0005432312921',),
 ('0005432312922',),
 ('0005432312923',),
 ('0005432312924',),
 ('0005432312925',),
 ('0005432312926',),
 ('0005432312927',),
 ('0005432312928',),
 ('0005432312929',),
 ('0005432312930',),
 ('0005432312931',),
 ('0005432312932',),
 ('0005432312933',),
 ('0005432312934',),
 ('0005432312935',),
 ('0005432312936',),
 ('0005432312937',),
 ('0005432312938',),
 ('0005432312939',),
 ('0005432312940',),
 ('0005432312941',),
 ('0005432312942',),
 ('0005432312943',),
 ('0005432312944',),
 ('0005432312945',),
 ('0005432312946',),
 ('0005432312947',),
 ('0005432312948',),
 ('0005432312949',),
 ('0005432312950',),
 ('0005432312951',),
 ('0005432312952',),
 ('0005432312953',),
 ('0005432312954',),
 ('0005432312955',),
 ('0005432312956',),
 ('0005432312957',),
 ('0005432312958',),
 ('0005432312959',),
 ('0005432312960',),
 ('0005432312961',),
 ('0005432312962',),
 ('0005432312963',),
 ('0005432312964',),
 ('0005432312965',),
 ('0005432312966',),
 ('0005432312967',),
 ('0005432312968',),
 ('0005432312969',),
 ('0005432312970',),
 ('0005432312971',),
 ('0005432312972',),
 ('0005432312973',),
 ('0005432312974',),
 ('0005432312975',),
 ('0005432312976',),
 ('0005432312977',),
 ('0005432312978',),
 ('0005432312979',),
 ('0005432312980',),
 ('0005432312981',),
 ('0005432312982',),
 ('0005432312983',),
 ('0005432312984',),
 ('0005432312985',),
 ('0005432312986',),
 ('0005432312987',),
 ('0005432312988',),
 ('0005432312989',),
 ('0005432312990',),
 ('0005432312991',),
 ('0005432312992',),
 ('0005432312993',),
 ('0005432312994',),
 ('0005432312995',),
 ('0005432312996',),
 ('0005432312997',),
 ('0005432312998',),
 ('0005432312999',),
 ('0005432313000',),
 ('0005432313001',),
 ('0005432313002',),
 ('0005432313003',),
 ('0005432313004',),
 ('0005432313005',),
 ('0005432313006',),
 ('0005432313007',),
 ('0005432313008',),
 ('0005432313009',),
 ('0005432313010',),
 ('0005432313011',),
 ('0005432313012',),
 ('0005432313013',),
 ('0005432313014',),
 ('0005432313015',),
 ('0005432313016',),
 ('0005432313017',),
 ('0005432313018',),
 ('0005432313019',),
 ('0005432313020',),
 ('0005432313021',),
 ('0005432313022',),
 ('0005432313023',),
 ('0005432313024',),
 ('0005432313025',),
 ('0005432313026',),
 ('0005432313027',),
 ('0005432313028',),
 ('0005432313029',),
 ('0005432313030',),
 ('0005432313031',),
 ('0005432313032',),
 ('0005432313033',),
 ('0005432313034',),
 ('0005432313035',),
 ('0005432313036',),
 ('0005432313037',),
 ('0005432313038',),
 ('0005432313039',),
 ('0005432313040',),
 ('0005432313041',),
 ('0005432313042',),
 ('0005432313043',),
 ('0005432313044',),
 ('0005432313045',),
 ('0005432313046',),
 ('0005432313047',),
 ('0005432313048',),
 ('0005432313049',),
 ('0005432313050',),
 ('0005432313051',),
 ('0005432313052',),
 ('0005432313053',),
 ('0005432313054',),
 ('0005432313055',),
 ('0005432313056',),
 ('0005432313057',),
 ('0005432313058',),
 ('0005432313059',),
 ('0005432313060',),
 ('0005432313061',),
 ('0005432313062',),
 ('0005432313063',),
 ('0005432313064',),
 ('0005432313065',),
 ('0005432313066',),
 ('0005432313067',),
 ('0005432313068',),
 ('0005432313069',),
 ('0005432313070',),
 ('0005432313071',),
 ('0005432313072',),
 ('0005432313073',),
 ('0005432313074',),
 ('0005432313075',),
 ('0005432313076',),
 ('0005432313077',),
 ('0005432313078',),
 ('0005432313079',),
 ('0005432313080',),
 ('0005432313081',),
 ('0005432313082',),
 ('0005432313083',),
 ('0005432313084',),
 ('0005432313085',),
 ('0005432313086',),
 ('0005432313087',),
 ('0005432313088',),
 ('0005432313089',),
 ('0005432313090',),
 ('0005432313091',),
 ('0005432313092',),
 ('0005432313093',),
 ('0005432313094',),
 ('0005432313095',),
 ('0005432313096',),
 ('0005432313097',),
 ('0005432313098',),
 ('0005432313099',),
 ('0005432313100',),
 ('0005432313101',),
 ('0005432313102',),
 ('0005432313103',),
 ('0005432313104',),
 ('0005432313105',),
 ('0005432313106',),
 ('0005432313107',),
 ('0005432313108',),
 ('0005432313109',),
 ('0005432313110',),
 ('0005432313111',),
 ('0005432313112',),
 ('0005432313113',),
 ('0005432313114',),

**2. Output a total number of tickets which have exactly 5 flights. Just one number, nothing else.**

In [12]:
%%sql $CONNECT_DATA
SELECT COUNT(t.ticket_no) as number_of_tickets_with_5_flights
FROM (SELECT ticket_no
      FROM Ticket_flights
      GROUP BY ticket_no
      HAVING COUNT(flight_id) = 5) as t

1 rows affected.

[(54,)]

**3.Creation and filling 2 tables: Employees and Departments**

3.1 Creation and filling of Employees table

In [15]:
%%sql postgresql:///jovyan
CREATE TABLE Employees (
    EMPLOYEE_ID int NOT NULL,
    FIRST_NAME varchar(40) NOT NULL,
    LAST_NAME varchar(40) NOT NULL,
    HIRE_DATE date NOT NULL,
    JOB_ID varchar(40) NOT NULL,
    MANAGER_ID int NOT NULL,
    DEPARTMENT_ID int NOT NULL
)

Done.

[]

In [22]:
%%sql postgresql:///jovyan
INSERT INTO Employees VALUES 
(100, 'Steven','King','1987-06-17', 'AD_PRES', 0, 90);
INSERT INTO Employees VALUES 
(101, 'Neena', 'Kochhar', '1987-06-18', 'AD_VP', 100, 90);
INSERT INTO Employees VALUES 
(102, 'Lex', 'DeHaan', '1987-06-19', 'AD_VP', 100, 90);
INSERT INTO Employees VALUES 
(103, 'Alexander', 'Hunold', '1987-06-20', 'IT_PROG', 102, 60);
INSERT INTO Employees VALUES
(107, 'Diana', 'Lorentz', '1987-06-24', 'IT_PROG', 103, 60);
INSERT INTO Employees VALUES
(108, 'Nancy', 'Greenberg', '1987-06-25', 'FI_MGR', 101, 100);
INSERT INTO Employees VALUES
(109, 'Daniel', 'Faviet', '1987-06-26', 'FI_ACCOUNT', 108, 100);
INSERT INTO Employees VALUES
(114, 'Den', 'Raphaely', '1987-07-01', 'PU_MAN', 100, 30);
INSERT INTO Employees VALUES
(118, 'Guy', 'Himuro', '1987-07-05', 'PU_CLERK', 114, 30);
INSERT INTO Employees VALUES
(144, 'Peter', 'Vargas', '1987-07-31', 'ST_CLERK', 114, 50);
INSERT INTO Employees VALUES
(145, 'John', 'Russell', '1987-08-01', 'SA_MAN', 100, 80);
INSERT INTO Employees VALUES
(146, 'Karen', 'Partners', '1987-08-02', 'SA_MAN', 100, 80);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [23]:
%%sql postgresql:///jovyan
SELECT * from Employees

12 rows affected.

[(100, 'Steven', 'King', datetime.date(1987, 6, 17), 'AD_PRES', 0, 90),
 (101, 'Neena', 'Kochhar', datetime.date(1987, 6, 18), 'AD_VP', 100, 90),
 (102, 'Lex', 'DeHaan', datetime.date(1987, 6, 19), 'AD_VP', 100, 90),
 (103, 'Alexander', 'Hunold', datetime.date(1987, 6, 20), 'IT_PROG', 102, 60),
 (107, 'Diana', 'Lorentz', datetime.date(1987, 6, 24), 'IT_PROG', 103, 60),
 (108, 'Nancy', 'Greenberg', datetime.date(1987, 6, 25), 'FI_MGR', 101, 100),
 (109, 'Daniel', 'Faviet', datetime.date(1987, 6, 26), 'FI_ACCOUNT', 108, 100),
 (114, 'Den', 'Raphaely', datetime.date(1987, 7, 1), 'PU_MAN', 100, 30),
 (118, 'Guy', 'Himuro', datetime.date(1987, 7, 5), 'PU_CLERK', 114, 30),
 (144, 'Peter', 'Vargas', datetime.date(1987, 7, 31), 'ST_CLERK', 114, 50),
 (145, 'John', 'Russell', datetime.date(1987, 8, 1), 'SA_MAN', 100, 80),
 (146, 'Karen', 'Partners', datetime.date(1987, 8, 2), 'SA_MAN', 100, 80)]

3.2 Creation and filling of Departments table

In [25]:
%%sql postgresql:///jovyan
CREATE TABLE Departments (
    DEPARTMENT_ID int NOT NULL,
    DEPARTMENT_NAME varchar(40) NOT NULL,
    MANAGER_ID int NOT NULL
)

Done.

[]

In [26]:
%%sql postgresql:///jovyan
INSERT INTO Departments VALUES 
(10, 'Administration', 200);
INSERT INTO Departments VALUES 
(30, 'Purchasing', 114);
INSERT INTO Departments VALUES 
(40, 'HumanResources', 203);
INSERT INTO Departments VALUES 
(50, 'Shipping', 121);
INSERT INTO Departments VALUES 
(60, 'IT', 103);
INSERT INTO Departments VALUES
(70, 'PublicRelations', 204);
INSERT INTO Departments VALUES
(80, 'Sales', 145);
INSERT INTO Departments VALUES
(90, 'Executive', 100);
INSERT INTO Departments VALUES
(100, 'Finance', 108);
INSERT INTO Departments VALUES
(110, 'Accounting', 205);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [27]:
%%sql postgresql:///jovyan
SELECT * from Departments

10 rows affected.

[(10, 'Administration', 200),
 (30, 'Purchasing', 114),
 (40, 'HumanResources', 203),
 (50, 'Shipping', 121),
 (60, 'IT', 103),
 (70, 'PublicRelations', 204),
 (80, 'Sales', 145),
 (90, 'Executive', 100),
 (100, 'Finance', 108),
 (110, 'Accounting', 205)]

**4. the Department_name which has the longest-working employee in the company, together with the First_name + Last_name of this employee**

In [41]:
%%sql postgresql:///jovyan
SELECT First_name, Last_name, Department_name 
from Employees e
JOIN Departments d ON
e.DEPARTMENT_ID = d.DEPARTMENT_ID
WHERE HIRE_DATE = (SELECT MIN(HIRE_DATE) 
from Employees e)

1 rows affected.

[('Steven', 'King', 'Executive')]